html, body{
    height: 100%;
    overflow: auto;
}

body {
    background: url(main-background.jpg);
    background-size: cover;
}

.themepark-top-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.themepark-header {
    font-size: 3rem;
    display: block;
    text-shadow: 3px 3px 3px rgba(255, 255, 0, .2);
}

.themepark-jumbo-button-toggled {
    background: linear-gradient(rgba(180, 180, 0, 1), rgba(120, 120, 0, 1));
}

.themepark-center-content {
    margin-top: 7rem;
}

.themepark-center-additional-content {
    margin-top: 3rem;
}

.bg {
    background: linear-gradient(rgba(255,255, 255, .75), rgba(128, 128,128, .75));
}

.themepark-datagrid {
    font-size: 1.5rem;
}

.themepark-datagrid tr td {
    cursor: pointer;
}

.themepark-email-disclaimer {
    color:#444;
}
